* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.landing-container {
  position: relative;
  text-align: center;
  color: white;
  background-size: cover;
  background-image: url("../images/landing.jpg");
}
.landing-container img {
  width: 100%;
  object-fit: fill;
  filter: brightness(40%);
}
.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-text h2 {
  color: rgb(245, 135, 44);
  font-size: 40px;
}

/* UPDATES CONTAINER */
/* .sec2-text-div {
  width: 100%;
  height: 80px;
  margin-top: 10px;
  background-color: rgba(245, 135, 44, 0.7);
  text-align: center;
  padding-top: 25px;
}

.updates-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.update-card {
  height: 350px;
  margin: 50px 10px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
}
.update-img {
  height: 350px;
  width: 275px;
  border-radius: 3px;
  transition: 0.5s;
}
.update-text {
  height: 90px;
  width: 275px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  top: 1133px;
  background: rgba(0, 0, 0, 0.6);
  color: rgb(245, 135, 44);
  transition: 0.5s;
}
.update-text h1 {
  margin: 5px;
  font-size: 22px;
}
.update-text p {
  margin: 5px;
  font-size: 15px;
  visibility: hidden;
  opacity: 0;
}
.update-card:hover {
  cursor: pointer;
}
.update-card:hover .update-text {
  height: 145px;
  top: 1080px;
  background-color: rgb(245, 135, 44);
}
.update-card:hover p {
  opacity: 1;
  visibility: visible;
}
.update-card:hover .update-text {
  color: white;
}
.update-card:hover .update-img {
  transform: scale(1.1) rotate(-3deg);
} */

.sec2-text-div {
  width: 100%;
  height: 80px;
  margin-top: 10px;
  background-color: rgba(245, 135, 44, 0.7);
  text-align: center;
  padding-top: 25px;
}
@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

.up-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  margin: 50px 10px;
  width: 275px;
  height: 300px;
  text-align: center;
  color: white;
  background-color: bisque;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 300px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.card:nth-child(1):before {
  background-image: url(images/u1.jpg);
  background-size: 275px 300px;
  filter: brightness(70%);
}

.card:nth-child(2):before {
  background-image: url(images/u2.jpg);
  background-size: 275px 320px;
  filter: brightness(70%);
}

.card:nth-child(3):before {
  background-image: url(images/u3.jpg);
  background-size: 280px 320px;
}

.card:nth-child(4):before {
  background-image: url(images/u4.jpg);
  background-size: 275px 320px;
  filter: brightness(70%);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
  transition: transform var(--d) var(--e);
  z-index: 1;
}

.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: rgba(245, 135, 44, 0.7);
  border: none;
}

.btn:hover {
  background-color: rgb(245, 135, 44);
}

.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }

  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
  .card:focus-within {
    align-items: center;
  }

  .card:hover:before,
  .card:focus-within:before {
    transform: translateY(-4%);
  }

  .card:hover:after,
  .card:focus-within:after {
    transform: translateY(-50%);
  }

  .card:hover .content,
  .card:focus-within .content {
    transform: translateY(0);
  }

  .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before,
  .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}
